@import url(./clash-display.css);
@import url(./satoshi.css);

body {
    margin: 0;
    height: 100%;
    background-color: #00030F;
    background-image: url("../images/background_pattern.png");
    background-repeat: repeat;
    background-size: contain;
}
p{
    color: white;
    font-family: 'Satoshi-Regular';
    font-size: 1.3em;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-top: 35px;
}

.headLine{
    display: flex;
    flex-direction: column;
    text-align: right;
    vertical-align: middle;
    align-content: center;
    margin-top: -18em;
}


.orange{
    color: #FF8400;
}
.blue{
    color: #34A6D4;
}

.titleText{
    color: whitesmoke;
    font-size: 5em;
    font-family: 'ClashDisplay-Bold',Verdana;
    margin-bottom: -0.7em;
}

.subtitleText{
    color: whitesmoke;
    font-size: 3.8em;
    font-family: 'ClashDisplay-Bold', Verdana;
    margin-bottom: -0.5em;
    white-space: nowrap;
}

.subtitle2Text{
    color: whitesmoke;
    font-size: 2em;
    padding-top: 0.7em;
    font-family: 'Satoshi-Bold', Cambria;
}

.phoneFrame{
    padding-top: 5em;
    height: 60em;
}

.suggestionText{
    opacity: 1;

}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
  }